<center>
	<h1>AQUI VAMOS A VER LOS HOTELES</h1>
  <form>
    <label for="fechaLlgeada">Fecha de Llegada:</label>
    {{input type="date" value=fechaEntrada min=hoy max="2018-12-31"}}
    <label for="fechaSalida">Fecha de Salida:</label>
	  {{input type="date" value=fechaSalida min=entrada max="2018-12-31"}}
  </form>
  <br><br>
  <form>
    <label>Ciudades: </label>
    <select name="ciudades" dir="rtl">
      <option>Medellín</option>
      <option>Cali</option>
      <option>Bogotá</option>
      <option>Cartagen</option>
      <option>Santa Marta</option>
    </select>
    <label>Tipo: </label>
    <select name="tipo" dir="rtl">
      <option>Apartamento</option>
      <option>Casa</option>
      <option>Luxury</option>
    </select>
  </form>
  <br><br>
  <button {{action "buscar"}}>Buscar</button>
  {{#each model as |agencia|}}
    <p style="color:white;font-size:2em;">Agencia: {{agencia.agency.name}}</p>
    {{#each agencia.homes as |rental|}}
    <form>
      <fieldset style="color:white;background-color: steelblue;">
        <legend style="color:white;font-size:1.3em;">{{rental.name}}</legend>
          <p style="color:white;background-color: steelblue;">Descripcion: {{rental.description}}</p>
          <p style="color:white;background-color: steelblue;">Direccion: {{rental.location.address}}</p>
          <p style="color:white;background-color: steelblue;">Ciudad: {{rental.city}}</p>
          <p style="color:white;background-color: steelblue;">Tipo: {{rental.type}}</p>
          <p style="color:white;background-color: steelblue;">Precio Total: {{rental.totalAmount}}</p>
          <p style="color:white;background-color: steelblue;">Precio Por Noche: {{rental.pricePerNight}}</p>
          <img src={{rental.thumbnail}} width="250" height="180"/>
      </fieldset>
    </form>
    <br>
    {{/each}}
  {{/each}}
</center>
